USE [master]
GO
/****** Object:  Database [QLTHUVIEN]    Script Date: 21/6/2021 11:07:06 AM ******/
CREATE DATABASE [QLTHUVIEN]
/* CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTHUVIEN', FILENAME = N'E:\Downloads\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTHUVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTHUVIEN_log', FILENAME = N'E:\Downloads\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTHUVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTHUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTHUVIEN]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 21/6/2021 11:07:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nvarchar](50) NOT NULL,
	[TENKHOA] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](50) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MAKHOA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUONTRA]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONTRA](
	[MANGUOIDUNG] [nvarchar](50) NOT NULL,
	[MASACH] [nvarchar](50) NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[HANTRA] [date] NOT NULL,
 CONSTRAINT [PK_MUONSACH] PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MANGUOIDUNG] [nvarchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[TENNGUOIDUNG] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NGAYDANGKY] [date] NULL,
	[NGAYHETHAN] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MAVAITRO] [nvarchar](50) NOT NULL,
	[MALOP] [nvarchar](50) NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [nvarchar](50) NOT NULL,
	[TENNXB] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[MAQUYDINH] [int] NOT NULL,
	[SOSACHMUONTOIDA] [int] NOT NULL,
	[SONGAYMUONTOIDA] [int] NOT NULL,
	[TIENPHATQUAHAN] [int] NOT NULL,
	[TIENPHATHONGMAT] [int] NOT NULL,
	[NGAYTHAYDOI] [date] NOT NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[MAQUYDINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nvarchar](50) NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[GIA] [int] NOT NULL,
	[VITRI] [nvarchar](50) NOT NULL,
	[MATACGIA] [nvarchar](50) NOT NULL,
	[MANXB] [nvarchar](50) NOT NULL,
	[MATHELOAI] [nvarchar](50) NOT NULL,
	[SOLUONGCO] [int] NOT NULL,
	[SOLUONGCON] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [nvarchar](50) NOT NULL,
	[TENTACGIA] [nvarchar](100) NOT NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATHELOAI] [nvarchar](50) NOT NULL,
	[TENTHELOAI] [nvarchar](100) NOT NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MAVAITRO] [nvarchar](50) NOT NULL,
	[TENVAITRO] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_VAITRO] PRIMARY KEY CLUSTERED 
(
	[MAVAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XULYVIPHAM]    Script Date: 21/6/2021 11:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XULYVIPHAM](
	[MANGUOIDUNG] [nvarchar](50) NOT NULL,
	[PHATQUAHAN] [int] NULL,
	[PHATHONGMAT] [int] NULL,
	[SOLANVIPHAM] [int] NOT NULL,
 CONSTRAINT [PK_XULYVIPHAM] PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'ATTT', N'An toàn thông tin')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'ĐPT', N'Đa phương tiện')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOA]) VALUES (N'D17CQMR01', N'Marketing 1', N'MR')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOA]) VALUES (N'D18CQAT01', N'An toàn thông tin 1', N'ATTT')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOA]) VALUES (N'D18CQAT02', N'An toàn thông tin 2', N'ATTT')
GO
INSERT [dbo].[MUONTRA] ([MANGUOIDUNG], [MASACH], [NGAYMUON], [HANTRA]) VALUES (N'D03', N'S1', CAST(N'2021-03-05' AS Date), CAST(N'2021-04-05' AS Date))
INSERT [dbo].[MUONTRA] ([MANGUOIDUNG], [MASACH], [NGAYMUON], [HANTRA]) VALUES (N'D04', N'S3', CAST(N'2021-03-05' AS Date), CAST(N'2021-06-07' AS Date))
INSERT [dbo].[MUONTRA] ([MANGUOIDUNG], [MASACH], [NGAYMUON], [HANTRA]) VALUES (N'D06', N'S7', CAST(N'2021-06-20' AS Date), CAST(N'2021-07-13' AS Date))
GO
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [MATKHAU], [TENNGUOIDUNG], [GIOITINH], [NGAYSINH], [NGAYDANGKY], [NGAYHETHAN], [DIACHI], [SDT], [EMAIL], [MAVAITRO], [MALOP]) VALUES (N'admin1', N'0x21232f297a57a5a743894a0e4a801fc3', N'Tuấn', N'Nam', NULL, CAST(N'2018-11-08' AS Date), CAST(N'2023-11-08' AS Date), NULL, NULL, N'buivantuan@gmail.com', N'VT04', NULL)
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [MATKHAU], [TENNGUOIDUNG], [GIOITINH], [NGAYSINH], [NGAYDANGKY], [NGAYHETHAN], [DIACHI], [SDT], [EMAIL], [MAVAITRO], [MALOP]) VALUES (N'admin2', N'0x21232f297a57a5a743894a0e4a801fc3', N'Tùng', N'Nam', NULL, CAST(N'2018-07-04' AS Date), CAST(N'2023-07-04' AS Date), NULL, NULL, N'kieuhuynhthanhtung@gmail.com', N'VT04', NULL)
INSERT [dbo].[NGUOIDUNG] ([MANGUOIDUNG], [MATKHAU], [TENNGUOIDUNG], [GIOITINH], [NGAYSINH], [NGAYDANGKY], [NGAYHETHAN], [DIACHI], [SDT], [EMAIL], [MAVAITRO], [MALOP]) VALUES (N'D01', N'0x168df315c87cbe3fa9d908ffb792325f', N'Nguyễn Đình Duy', N'Nam', CAST(N'1992-02-17' AS Date), CAST(N'2021-05-08' AS Date), CAST(N'2025-05-08' AS Date), N'', N'0123456789', N'abc@gmail.com', N'VT01', N'D18CQCN01')
GO
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (N'NXB1', N'Kim Đồng', N'55 Quang Trung, Hà Nội, Việt Nam')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (N'NXB10', N'Lao Động', N'175 P. Giảng Võ, Chợ Dừa, Đống Đa, Hà Nội')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (N'NXB11', N'Thông Tấn', N'79 Lý Thường Kiệt, Phan Chu Trinh, Hoàn Kiếm, Hà Nội')
GO
INSERT [dbo].[QUYDINH] ([MAQUYDINH], [SOSACHMUONTOIDA], [SONGAYMUONTOIDA], [TIENPHATQUAHAN], [TIENPHATHONGMAT], [NGAYTHAYDOI]) VALUES (1, 5, 30, 2000, 150, CAST(N'2021-06-15' AS Date))
INSERT [dbo].[QUYDINH] ([MAQUYDINH], [SOSACHMUONTOIDA], [SONGAYMUONTOIDA], [TIENPHATQUAHAN], [TIENPHATHONGMAT], [NGAYTHAYDOI]) VALUES (2, 5, 30, 5000, 200, CAST(N'2021-06-15' AS Date))
INSERT [dbo].[QUYDINH] ([MAQUYDINH], [SOSACHMUONTOIDA], [SONGAYMUONTOIDA], [TIENPHATQUAHAN], [TIENPHATHONGMAT], [NGAYTHAYDOI]) VALUES (3, 5, 30, 5000, 300, CAST(N'2021-06-15' AS Date))
GO
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NGAYNHAP], [GIA], [VITRI], [MATACGIA], [MANXB], [MATHELOAI], [SOLUONGCO], [SOLUONGCON]) VALUES (N'S1', N'Mononoke Princess', CAST(N'2021-03-05' AS Date), 50000, N'I don''t know', N'TG01', N'NXB1', N'TL01', 25, 24)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NGAYNHAP], [GIA], [VITRI], [MATACGIA], [MANXB], [MATHELOAI], [SOLUONGCO], [SOLUONGCON]) VALUES (N'S10', N'Thánh kinh trong người mới khởi nghiệp', CAST(N'2021-03-05' AS Date), 96000, N'I don''t know', N'TG07', N'NXB9', N'TL05', 10, 10)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NGAYNHAP], [GIA], [VITRI], [MATACGIA], [MANXB], [MATHELOAI], [SOLUONGCO], [SOLUONGCON]) VALUES (N'S11', N'AI trong Marketing', CAST(N'2021-03-05' AS Date), 189000, N'I don''t know', N'TG08', N'NXB10', N'TL05', 10, 10)
GO
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [GHICHU]) VALUES (N'TG01', N'Vũ Trọng Phụng', NULL)
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [GHICHU]) VALUES (N'TG02', N'Vu Triết', NULL)
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [GHICHU]) VALUES (N'TG03', N'Dịch Nhân Bắc', NULL)
GO
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI], [GHICHU]) VALUES (N'TL01', N'Anime', NULL)
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI], [GHICHU]) VALUES (N'TL02', N'Light novel', NULL)
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI], [GHICHU]) VALUES (N'TL03', N'BL', NULL)
GO
INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO]) VALUES (N'VT01', N'Độc giả')
INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO]) VALUES (N'VT02', N'Thủ thư')
INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO]) VALUES (N'VT03', N'Thủ kho')
GO
INSERT [dbo].[XULYVIPHAM] ([MANGUOIDUNG], [PHATQUAHAN], [PHATHONGMAT], [SOLANVIPHAM]) VALUES (N'D02', 575500, 570000, 5)
INSERT [dbo].[XULYVIPHAM] ([MANGUOIDUNG], [PHATQUAHAN], [PHATHONGMAT], [SOLANVIPHAM]) VALUES (N'D04', 64000, 0, 1)
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_NGUOIDUNG] FOREIGN KEY([MANGUOIDUNG])
REFERENCES [dbo].[NGUOIDUNG] ([MANGUOIDUNG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MUONTRA] CHECK CONSTRAINT [FK_MUONTRA_NGUOIDUNG]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MUONTRA] CHECK CONSTRAINT [FK_MUONTRA_SACH]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_LOP]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_VAITRO] FOREIGN KEY([MAVAITRO])
REFERENCES [dbo].[VAITRO] ([MAVAITRO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_VAITRO]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([MATHELOAI])
REFERENCES [dbo].[THELOAI] ([MATHELOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
ALTER TABLE [dbo].[XULYVIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_XULYVIPHAM_NGUOIDUNG] FOREIGN KEY([MANGUOIDUNG])
REFERENCES [dbo].[NGUOIDUNG] ([MANGUOIDUNG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[XULYVIPHAM] CHECK CONSTRAINT [FK_XULYVIPHAM_NGUOIDUNG]
GO
USE [master]
GO
