USE [master]
GO
/****** Object:  Database [QLTHUVIEN]    Script Date: 5/3/2021 10:46:40 PM ******/
CREATE DATABASE [QLTHUVIEN]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'QLTHUVIEN1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLTHUVIEN1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'QLTHUVIEN1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLTHUVIEN1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTHUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTHUVIEN]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 5/3/2021 10:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADOCGIA] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[TENDOCGIA] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NGAYDANGKY] [date] NULL,
	[NGAYHETHAN] [date] NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUONSACH]    Script Date: 5/3/2021 10:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONSACH](
	[MAPHIEU] [nvarchar](50) NOT NULL,
	[MADOCGIA] [nvarchar](50) NOT NULL,
	[MASACH] [nvarchar](50) NOT NULL,
	[NGAYMUON] [date] NOT NULL,
 CONSTRAINT [PK_MUONSACH] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/3/2021 10:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nvarchar](50) NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[GIA] [int] NOT NULL,
	[VITRI] [nvarchar](50) NOT NULL,
	[TACGIA] [nvarchar](50) NOT NULL,
	[NXB] [nvarchar](50) NOT NULL,
	[THELOAI] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DOCGIA] ([MADOCGIA], [MATKHAU], [TENDOCGIA], [GIOITINH], [NGAYSINH], [NGAYDANGKY], [NGAYHETHAN]) VALUES (N'admin', N'admin', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DOCGIA] ([MADOCGIA], [MATKHAU], [TENDOCGIA], [GIOITINH], [NGAYSINH], [NGAYDANGKY], [NGAYHETHAN]) VALUES (N'D1', N'D1', N'Trinh', N'Nữ', NULL, NULL, NULL)
INSERT [dbo].[DOCGIA] ([MADOCGIA], [MATKHAU], [TENDOCGIA], [GIOITINH], [NGAYSINH], [NGAYDANGKY], [NGAYHETHAN]) VALUES (N'D2', N'D2', N'Mơ', N'Nữ', NULL, NULL, NULL)
GO
INSERT [dbo].[MUONSACH] ([MAPHIEU], [MADOCGIA], [MASACH], [NGAYMUON]) VALUES (N'M1', N'D1', N'S1', CAST(N'2021-03-05' AS Date))
INSERT [dbo].[MUONSACH] ([MAPHIEU], [MADOCGIA], [MASACH], [NGAYMUON]) VALUES (N'M2', N'D1', N'S2', CAST(N'2021-03-05' AS Date))
INSERT [dbo].[MUONSACH] ([MAPHIEU], [MADOCGIA], [MASACH], [NGAYMUON]) VALUES (N'M3', N'D2', N'S1', CAST(N'2021-03-05' AS Date))
GO
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NGAYNHAP], [GIA], [VITRI], [TACGIA], [NXB], [THELOAI], [SOLUONG]) VALUES (N'S1', N'Mononoke Princess', CAST(N'2021-03-05' AS Date), 50000, N'I don''t know', N'I don''t know', N'I don''t know', N'Anime', 10)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NGAYNHAP], [GIA], [VITRI], [TACGIA], [NXB], [THELOAI], [SOLUONG]) VALUES (N'S2', N'Castle in the sky', CAST(N'2021-03-05' AS Date), 50000, N'I don''t know', N'I don''t know', N'I don''t know', N'Anime', 10)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NGAYNHAP], [GIA], [VITRI], [TACGIA], [NXB], [THELOAI], [SOLUONG]) VALUES (N'S3', N'Spirited away', CAST(N'2021-03-05' AS Date), 50000, N'I don''t know', N'I don''t know', N'I don''t know', N'Anime', 10)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MUONSACH__MADOCGIA-MASACH]    Script Date: 5/3/2021 10:46:40 PM ******/
ALTER TABLE [dbo].[MUONSACH] ADD  CONSTRAINT [UQ__MUONSACH__MADOCGIA-MASACH] UNIQUE NONCLUSTERED 
(
	[MADOCGIA] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_MUONSACH_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[MUONSACH] CHECK CONSTRAINT [FK_MUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_MUONSACH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[MUONSACH] CHECK CONSTRAINT [FK_MUONSACH_SACH]
GO
USE [master]
GO
